<% include ./partials/header.ejs %>

<div class="w-full h-screen bg-gradient-to-r from-indigo-900 via-blue-500 to-cyan-400 flex items-center justify-center">
  <div class="w-72 h-90 bg-zinc-100 p-6 rounded-lg shadow-lg">
    <h2 class="text-xl text-center font-semibold mb-4">Create new account</h2>
    <form action="/" method="POST" class="mb-4">
        <input type="text" id="username" placeholder="Username" name="username" class="mb-4 w-full px-3 py-2 border rounded-lg">
        <input type="email" id="email" placeholder="Email" name="email" class="mb-4 w-full px-3 py-2 border rounded-lg">
        <input type="number" id="contact" placeholder="contact" name="contact" class="mb-4 w-full px-3 py-2 border rounded-lg">
        <input type="password" id="password" placeholder ="Enter password" ="password" class="mb-4 px-3 py-2 border rounded-lg">
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Create account</button>
    </form>
    <p class="text-sm">Already have an account? <a href="/" class="text-blue-500">Login here</a></p>
  </div>
</div>

<% include ./partials/footer.ejs %>

